*{
  font-family:Arial, Helvetica, sans-serif;
}
html,body{
  height:100%;
}
body{
  display:flex;
  flex-direction: column;
}
main{
  flex-grow:1;
}
/* Style the header */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: #648b57;
    opacity: 80%;
}
  /* Style the Hero section */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50vh;
    overflow: hidden;
  }

video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}
.hero-title {
    position: relative;
    z-index: 1;
    color: black;
    font-size: 2em;
    text-align: center;
    max-width:480px;
    padding:2rem;
    background-color: #648b57;
    opacity: 90%;
    border-radius: 10px;
  }

.favicons {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    gap: 2rem;
    margin-right: 50px;
    margin-bottom: 50px;
    background-color: #648b57;
    opacity: 80%;
    padding:0.5rem;
    border-radius: 10px;
}


   /* Style the logo */
#logo-img{
    border-radius: 50%; 
  }

button{
    padding:15px;
    border-radius: 15%;
    font-size: 1.2rem;
}
button a{
  text-decoration: none;
  color:black;
  font-weight: bold;
  padding:1.3rem 1rem;
}
button:hover a{
  color:#228B22;
}

#license-title{
  margin:5rem 5rem;
  text-align: center;
}

.license-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.license-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: calc(25% - 20px);
  margin: 10px;
}


/* Style the form*/

form {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

label {
  color: black;
}

.methods{
  display: grid;
  padding: 4rem;
  margin:2rem auto;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.1);
}
#box1{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  text-align: center;
}

#box2{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.form-box{
  display:flex;
  flex-direction: row;
  margin: 10px 15px;
}

input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
  max-width:400px;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #228B22;
  border-radius: 5px;
}

input[type="button"] {
  padding: 10px 20px;
  background-color: #228B22;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}

input[type="button"]:hover {
  background-color: #808080;
}

input[type="submit"] {
  margin:0.8rem 0.8rem;
  padding:.5rem 0.5rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}

input[type="submit"]:hover {
  background-color: #808080;
  color:white
}

@media (max-width: 600px) {
  form {
      width: 100%;
      margin:2rem;
  }
}


/* footer style*/
footer{
  display: flex;
  justify-content: space-around;
  background-color: black;
  color:white;
  font-size: 1.2rem;
}
footer ul {
  display: flex;
}
footer li {
    display: inline-block;
    margin-left: 2rem;
}
  
footer li:hover a{
    color: #228B22;
  }
footer li a {
    color:white;
    text-decoration: none;
  }

   /* Responsive layout - when the screen is less than 600px wide, make the links stack vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .header {
      flex-direction: column;
    }

    .header-right {
      margin-top: 20px;
    }
    .header-right a {
      margin-left: 0;
      display: block;
    }
}