*{
  font-family:Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: #648b57;
}

   /* Style the logo */
img{
    border-radius: 50%; 
  }

button{
    padding:15px;
    border-radius: 15%;
    font-size: 1.2rem;
}
button a{
  text-decoration: none;
  color:black;
  font-weight: bold;
  padding:1.3rem 1rem;
}
button:hover a{
  color:#228B22;
}
/* Style the form*/
form {
  width: 100%;
  max-width: 500px;
  margin: 2rem;
  background-color: #ffffff;
  padding: 4rem;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.1);
}

label {
  display: block;
  margin-bottom: 10px;
  color: black;
}

input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #228B22;
  border-radius: 5px;
}

input[type="button"] {
  padding: 10px 20px;
  background-color: #228B22;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}

input[type="button"]:hover {
  background-color: #808080;
}

input[type="submit"] {
  margin:0.5rem 0rem;
  padding:.5rem 0.5rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}

input[type="submit"]:hover {
  background-color: #808080;
  color:white
}

@media (max-width: 600px) {
  form {
      width: 100%;
      margin:2rem;
  }
}


/* footer style*/
footer{
  display: flex;
  justify-content: space-around;
  background-color: black;
  color:white;
  font-size: 1.2rem;
}
footer ul {
  display: flex;
}
footer li {
    display: inline-block;
    margin-left: 2rem;
}
  
footer li:hover a{
    color: #228B22;
  }
footer li a {
    color:white;
    text-decoration: none;
  }
   /* Responsive layout - when the screen is less than 600px wide, make the links stack vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .header {
      flex-direction: column;
    }

    .header-right {
      margin-top: 20px;
    }
    .header-right a {
      margin-left: 0;
      display: block;
    }
   }