form{
    max-width:50vw;
    background-color: #ffffff;
    padding: 4rem;
    margin:2rem 15rem;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.1);
}

h1{
    color:white;
    font-size: 5rem;
}
p{
    font-size: 1.7rem;
    text-align: center;
}

#intro{
    margin:3rem 6rem;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/donatehero.jpg');
    background-size: cover;
}
.aside{
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.1);
    max-width: 30vw;
    max-height:900px;
    background-color:#808080 ;
    grid-column-start: -1;
    margin-right: 3rem;
    margin-top: 20rem;
    padding:10px 50px;
}
.aside p{
    text-align: left;
}

.circles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin:3rem 6rem;
}

.circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.forms {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
}

.forms-aside-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:2rem;
    column-gap: 2rem;

}
label, input{
    font-size: 1.7rem;
}

.finance {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:2rem;
    background-color:  #648b57;
}


input[type="text"], input[type="email"], input[type="password"] {
    max-width:600px;
}